<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Registrar Notificación</h1>
</div>
<!-- Begin Form Content -->
<form class="notificacion" id="notificationForm" onsubmit="addNotification(event)"
    style="display: flex; flex-direction: column; gap: 15px; width: 90%; max-width: 1000px; margin: auto;">
    <!-- Campos de notificación alineados horizontalmente -->
    <div style="display: flex; flex-direction: column; gap: 15px; width: 100%; max-width: 800px; margin: auto;">
        <textarea class="form-control form-control-notificacion" id="notificacion_mensaje"
            placeholder="Mensaje de Notificación" required
            style="flex: 1; width: 100%; min-height: 100px; padding: 15px; border: 1px solid #ccc; border-radius: 5px; font-size: 16px; resize: vertical;"></textarea>
        <input type="datetime-local" class="form-control form-control-notificacion" id="notificacion_hora_programado"
            placeholder="Hora Programada" required
            style="flex: 1; width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px; font-size: 16px;">
        <input type="text" class="form-control form-control-notificacion" id="det_vu_id"
            placeholder="ID Detalle Viaje Usuario" required
            style="flex: 1; width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px; font-size: 16px;">
        <input type="text" class="form-control form-control-notificacion" id="id_viaje" placeholder="ID Viaje" required
            style="flex: 1; width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px; font-size: 16px;">
        <div style="display: flex; justify-content: space-between; gap: 10px;">
            <input type="submit" class="btn btn-primary btn-notificacion" value="Registrar"
                style="flex: 1; padding: 12px 20px; background-color: #007bff; border: none; border-radius: 5px; color: white; font-size: 16px; cursor: pointer;">
            <button class="btn btn-primary btn-notificacion" onclick="enviarEmail()"
                style="flex: 1; padding: 12px 20px; background-color: #007bff; border: none; border-radius: 5px; color: white; font-size: 16px; cursor: pointer;">
                Enviar Email
            </button>
        </div>
    </div>

    <hr style="margin-top: 20px; border: none; border-top: 1px solid #ccc;">
</form>